vert_align_middle()
	position absolute
	top 50%
	transform translateY(-50%)

even-blocks(max)
	for i in 1
		.line:nth-child(1):nth-last-child({i})
			height (100% / (i - 1))
			@media $bs-screen-xld-min
				height auto

	for i in (1..2)
		.line:nth-child(1):nth-last-child({i})
		.line:nth-child({li}):nth-last-child(1)
			height (100% / (i - 1))
			@media $bs-screen-xld-min
				height auto

	for i in (1..max)
		.line:nth-child(1):nth-last-child({i})
		.line:nth-child(1):nth-last-child({i}) ~ .line
			height (100% / (i - 1))
			@media $bs-screen-xld-min
				height auto