background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)



/* styles for '...' */
.block-with-text
	display:block
	/* hide text if it more than N lines  */
	overflow: hidden
	/* for set '...' in absolute position */
	position: relative
	/* use this value to count block height */
	line-height: 1.2em
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height: 3.6em
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align: justify

	/* */
	margin-right: -1em
	padding-right: 1em

	&:before
		/* points in the end */
		content: '...'
		/* absolute position */
		position: absolute
		/* set position to right bottom corner of block */
		right: 0
		bottom: 0

	&:after
		/* points in the end */
		content: ''
		/* absolute position */
		position: absolute
		/* set position to right bottom corner of text */
		right: 0
		width: 1em
		/* set width and height */
		height: 1em
		margin-top: 0.2em
		background: white
