// Background Colors
$bg-color-primary = #000
$bg-color-secondary = #fff
$bg-color-secondary-dark = #0e36ac
$bg-color-tertiary = #f6d83e//// jaune

$bg-admin-color-primary = #999999

$primary-color = #f6d83e
$secondary-color = #f6f6f6
//// jaune

// Font Colors
$ft-color-primary = $bg-color-primary
$ft-color-secondary = $bg-color-secondary
$ft-color-tertiary = $bg-color-primary

// Font Families
$ft-family-primary = "franklin-gothic-urw", Helvetica, Arial, sans-serif;
$ft-family-primary-cond = "franklin-gothic-urw-cond", Helvetica, Arial, sans-serif;
$ft-family-secondary = "open-sans",sans-serif;

// Link Colors
$lk-color-primary = $ft-color-tertiary

// Border Colors
$br-color-primary = $bg-color-tertiary

$light-grey = #e8e8e8
$grey = #d0d0d0
$dark-grey = #888888
$very-dark-grey = #282828

$blue = #296ddb
$light-blue = #95c0d8
$very-light-blue = #f3f6fa
// validate Colors
$br-validate-primary = #34d960
// validate Colors
$br-validate-secondary = #1cbd47

// Transitions
$tn-primary = all .3s ease

$bs-bp-sm-max = 991px

$login-height-sd = 46px
$login-height = 32px
// Bootstrap Breakpoints

$break-min = 34em
$break-med = 48em
$break-larg = 62em
$break-xlarg = 75em

// Small devices (landscape phones, 34em and up)
$bs-screen-sd-min = unquote('screen and (min-width: '+$break-min+')')
// Medium devices (tablets, 48em and up)
$bs-screen-md-min = unquote('screen and (min-width: '+$break-med+')')
// Large devices (desktops, 62em and up)
$bs-screen-ld-min = unquote('screen and (min-width: '+$break-larg+')')
// Extra large devices (large desktops, 75em and up)
$bs-screen-xld-min = unquote('screen and (min-width: '+$break-xlarg+')')

// Extra small devices (portrait phones, less than 34em)
$bs-screen-xsd-max = unquote('screen and (max-width: '+($break-min - 0.1em)+')')
// Small devices (landscape phones, less than 48em)
$bs-screen-sd-max = unquote('screen and (max-width: '+($break-med - 0.1em)+')')
// Medium devices (tablets, less than 62em)
$bs-screen-md-max = unquote('screen and (max-width: '+($break-larg - 0.1em)+')')
// Large devices (desktops, less than 75em)
$bs-screen-ld-max = unquote('screen and (max-width: '+($break-xlarg - 0.1em)+')')
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

$space-1 = 30px
$navigation-height = 50px
$navigation-footer-height = 50px
$burger-height = 35px
$burger-width = 48px

height_block = 460px

height_footer = 210px

.darkgreybg
	background:$dark-grey
	color:$light-grey

