body.contact
	background: linear-gradient(to bottom right, #000000 , #6563A4);
	color:#FFF

	input[type='text'],
	input[type='email'],
	textarea
		background:transparent
		border:none
		border-bottom: 1px solid $light-grey