.blocks.bieres
	border 1px solid $grey
	// background $secondary-color

	.title
		color $primary-color
		font-weight 700
		font-size 1.5em
		margin 0
		color $ft-color-primary

		&:hover
			color $primary-color


	.brasserie
		font-weight 700
		font-family $ft-family-primary-cond
		font-size 0.875em
		padding-bottom ($space-1 / 10)

		a:hover
			color $primary-color

	.taxonomies
		border-top 1px solid $grey
		border-bottom 1px solid $grey

		.topelement
			border-bottom 1px solid $grey
			line-height 0.9
			padding 2px 0

		.style,
		.pays
			text-transform uppercase

		.left,
		.right
			width 50%
			display inline-block
			&.left
				border-right 1px solid $grey

	.description
		margin-top ($space-1 / 2)
		line-height 1.3
		p
			margin 5px 0
			word-wrap break-word
		span
			font-weight 700


	.packshot
		width 110px
		.perfect_image img,
		.perfect_image
			height 348px

	.main
		width 100%
		position relative

	.info
		position absolute
		top 0
		right 0
		width calc( 100% - 110px - 2px)

	.extra
	.info
		padding ($space-1/2) ($space-1/2) 0


	.description
		padding 0 ($space-1/2) ($space-1/2)


	a.titre_descriptif,
	h2.titre_descriptif
		font-family $ft-family-primary-cond
		font-size 2.5em
		text-transform uppercase
		line-height 1
		background none
		color #000
		font-weight normal
		padding 0 0 ($space-1/3)
		display block
		&:hover
			color #000

	@media $bs-screen-md-min
		.description
			position absolute
			bottom 0
			right 0
			width calc( 100% - 110px - 2px)


	@media $bs-screen-ld-min
		height 350px
		.main
			width 100%

		&.extra_info
			.main,
			.extra
				display inline-block
				vertical-align top

			.main
				width 60%
			.extra
				width 40%



