.blocks,
.blocks.txt,
.blocks.flexslider
	&.white
		background:#fff
	&.red
		background:#CA0209
	&.black
		background:#000000
		color:#ffffff

	&.fullscreen
		.warper.level-0
			max-width:none

			.col-12
				.warper
					max-width:none
					width:100%

	position:relative
	.content
		padding:0px
		*:first-child
			margin-top:0