.blocks,
.blocks.txt,
.blocks.flexslider
	&.white
		.warper
			background:#fff
	&.red
		.warper
			background:#CA0209
	&.black
		.warper
			background:#000000
			color:#ffffff

	&.fullscreen
		.warper.level-0:not(.caption)
			max-width:none
			.content
				padding:0px
			.col-12
				.warper:not(.caption)
					max-width:none
					width:100%
					.content
						padding:0px

	position:relative
	.content
		padding:10px
		*:first-child
			margin-top:0