- if($admin):
.intro.editable(data-ph!="<?php echo d('intro',$dico);?>")
	!= d('intro',$data)
- else:
.intro
	!= d('intro',$data)
-endif;
.flexslider
	ul.slides
		- if(d('sample',$data)):
			include slide.jade
		- endif;
		- foreach ($dataslider as $keyslide => $slide):
			- $slide['itsadmin'] = $admin
			include slide.jade
		- endforeach