.flexslider
	ul.slides
		- if(d('sample',$data)):
			include slide.jade
		- endif;
		- foreach ($dataslider as $keyslide => $slide):
			- $slide['itsadmin'] = $admin
			include slide.jade
		- endforeach