- $HDsrc = $data['sample'] ? $data['img'] : d('img',$slide)
- $lowres = d('index',$slide) ? str_lreplace('/','/low-res-',d('img',$slide)) : $HDsrc
- $src = $data['sample'] ? $data['img'] : $lowres
- $orientation = (isLandsape($src)) ? 'landsape' : 'portrait';
li
	-if($admin):
	button.icon-bin.deleatslide(
		tabindex='-1'
	)
	.handlesort.icon-moveit
	-endif;
	- if($admin):
	.contimg
		img(src!="<?php echo $src;?>", class!="<?php echo $orientation;?>" data-file-path!="<?php echo $HDsrc;?>", data-file-replaced='false', data-index!="<?php echo d('index',$slide);?>")
	- else:
	img(src!="<?php echo $src;?>", class!="<?php echo $orientation;?>" data-file-path!="<?php echo $HDsrc;?>", data-file-replaced='false', data-index!="<?php echo d('index',$slide);?>")
	-endif;
	- if((d('flex-caption',$slide)!=='') || $admin):////si c'est pas vide
	- if($admin):
	.flex-caption.editable(data-ph!="<?php echo d('caption',$dico);?>")
		!= d('flex-caption',$slide)
	- else:
	.warper.caption
		.flex-caption
			!= d('flex-caption',$slide)
	-endif;
	-endif;
