- $src = $data['sample'] ? $data['img'] : d('img',$slide)
li.list-item

	-if($admin):
	button.icon-bin.deleatperso(
		tabindex='-1'
		)
	.moveperso.icon-moveit
	-endif;

	.list-content
		- if((d('name',$slide)!=='') || $admin):////si c'est pas vide
		- if($admin):
		.name.editable(data-ph!="<?php echo d('name',$dico);?>")
			!= d('name',$slide)
		- else:
		.name
			!= d('name',$slide)
		-endif;
		-endif;
		img(src!="<?php echo $src;?>")
		- if((d('infos',$slide)!=='') || $admin):////si c'est pas vide
		- if($admin):
		.infos.editable(data-ph!="<?php echo d('infos',$dico);?>")
			!= d('infos',$slide)
		- else:
		.infos
			!= d('infos',$slide)
		-endif;
		-endif;
