.perso
	.content
		padding:10px 0

.personlist
	*
		box-sizing: border-box

	ul, li
		margin: 0
		padding: 0
		list-style: none

	.list
		display: flex
		flex-wrap: wrap

	.list-item
		display: flex
		padding: 0.5em
		width: 100%
		position:relative

		img
			width: 100%
			vertical-align: top
			@media $bs-screen-sm-min
				padding-bottom: 15px

		.name
			margin-top: 0
			margin-bottom: 0.4em
			font-family:maloz
			text-transform:uppercase
			font-size:200%
			p
				margin-bottom:0
				line-height: 0.8

		.list-content
			display: flex
			flex-direction: column
			width: 70%
			position:relative
			left:30%

		@media $bs-screen-sm-min
			width: 50%

			.list-content
				box-shadow: 0px 0px 5px $grey
				background-color: #fff
				width: 100%
				left:0
				padding: 1em

		@media $bs-screen-md-min
			width: 33.33%

		@media $bs-screen-sm-max
			border-bottom:1px solid $light-grey

			img
				width: 30%
				border-radius:50%
				position:absolute
				top:10px
				left:-40%
				border:5px solid #fff
				box-shadow: 0px 0px 5px $grey

	.list-content
		.infos
		// .name,
			flex: 1 0 auto

