.blocks
	.flexslider
		border:none

	.flex-direction-nav a
		opacity:1
		height:56px

	.flex-direction-nav a:before
		color: rgba(255, 255, 255, 0.8)
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)

	.flex-direction-nav .flex-prev
		opacity: 1
		left: 10px

	.flex-direction-nav .flex-next
		opacity: 1
		right: 10px
