.contnav
	background:$bg-color-tertiary

	.nav
		list-style-type: none
		margin: auto
		padding:0

		li
			display: inline-block
			padding: 0 15px
			border-right: 1px $grey dotted

			&:first-child
				margin-left:0
				border-left: 1px $grey dotted
	a
		color: $ft-color-tertiary
		text-transform: uppercase
		text-decoration: none
		font-family: hirlemann
		font-size:50px

	.changlang
		float:right
		padding: 0 15px