// Background Colors
$bg-color-primary = #fff
$bg-color-secondary = #3054a2
$bg-color-secondary-dark = #0e36ac
$bg-color-tertiary = #202020

// Font Colors
$ft-color-primary = $bg-color-tertiary
$ft-color-secondary = $bg-color-secondary
$ft-color-tertiary = $bg-color-primary

// Font Families
$ft-family-primary = "Helvetica Neue", Helvetica, Arial, sans-serif;
$ft-family-secondary = Georgia, Times, serif;

// Link Colors
$lk-color-primary = $ft-color-tertiary

// Border Colors
$br-color-primary = $bg-color-tertiary

// validate Colors
$br-validate-primary = #34d960
// validate Colors
$br-validate-secondary = #1cbd47

// Transitions
$tn-primary = all .3s ease

// Bootstrap Breakpoints
$bs-screen-xs-max = unquote('screen and (max-width: 767px)')
$bs-screen-sm-max = unquote('screen and (max-width: 991px)')
$bs-screen-md-max = unquote('screen and (max-width: 1199px)')
