nav.blocks.categories.nav
	ul
		- $categories = get_categories()
		- foreach ( (array) $categories as $keycat => $categorie ):
			- $title = $categorie->name;
			- $slug = $categorie->slug;
			- $curentid = $categorie->term_id;
			- $url = get_category_link( $curentid  );
			- $currentpostcat = get_the_category()[0]->name;
			- $current_cat = get_query_var('category_name');
			- $post_match = ($currentpostcat === $title);
			- $cat_match = ($current_cat === strtolower($title));

			- $selected = ( $cat_match ||  $post_match);

			li.line(class!="<?php echo (($selected) ? 'current-menu-item' : ''); ?>")
				a(
				href!="<?php  echo $url ?>",
				class!="<?php echo $slug;?>"
				)
					- echo $title;
		- endforeach;