| yoyoq

#module1444926781245.blocks.level-0.repeater.white.fullscreen(data-column='', data-more-class='white fullscreen', data-type-module='repeater')
	.warper.level-0
		.content.grid
			- $data['sample'] = true;
			- $data['level'] = 1;
			- $data['type'] = 'txt';
			- $data['blockclass'] = 'txt';
			include ../../module/blocks/index.php.jade
- $data['img'] = 'http://placehold.it/350x150'
- $data['type'] = 'img';
- $data['blockclass'] = 'img';
include ../../module/blocks/index.php.jade
