body
	&.popin
		height:100%
		overflow:hidden

body.admin
	&.managefile
		#savepage
			display:none

	#main
		padding-top:$navigation-height + $login-height

		.blocks
			.warper
				.content
					min-height:225px

	.grid
		.col-12
			.bin
				display:none

		[class*='col-']
			.handle
				display:none
			.warper
				padding:0 50px 0 0
				width:100%
				margin:0