button:not(.toggle-burger),
input[type=button],
input[type=submit],
input[type=file]
	border-radius: 5px
	color: #ffffff
	padding: 4px 20px
	text-decoration: none
	border:none

	&.green
		background: $br-validate-primary

		&:hover
			background: $br-validate-secondary

	&.grey
		background: #626262

		&:hover
			background: #312E2E

	&.blue
		background: #0758BE

		&:hover
			background: #033F89

	&.red
		background: #BE0714

		&:hover
			background: #9C0510

.round:not(.toggle-burger)
	border-radius:50%
	padding:10px
	height:40px
	width:40px

	&:before
		top:2px
		position:relative

button
	vertical-align:top

label
	&.icon-pencil
		background:#AD4707
		color: #ffffff

	&.icon-enlarge
		background:#987654
		color: #ffffff

	&.icon-cog
		background:$light-grey

	&.round:not(.toggle-burger)
		display: inline-block
		width: 20px
		height: 20px

		&:before
			left:2px

.icon-image,
.icon-images
	background:#AD077D
	color: #ffffff
.icon-user,
.icon-user-plus
	background:#34DB83
	color: #ffffff

.icon-music
	background:#34D7DB
	color: #ffffff


.warpinput
	height:40px
	width:40px
	display:block
	position:relative
	float:left
	margin-right: 10px

	label
		cursor:pointer
		position:relative
		// top:10px

	input[type=radio],
	input[type=checkbox]
		position: fixed
		clip: rect(0, 0, 0, 0)

	input[type=radio]:checked ~ label,
	input[type=checkbox]:checked ~ label
		border:3px solid $light-grey
		box-shadow: 0px 0px 5px #888888
		margin-top:-3px
		margin-left:-3px

#savepage
	opacity: 0

	.savable &
		opacity: 1