lineheight = 20px
.cover
	content:''
	background:#000
	position:fixed
	top:0
	left:0
	height:100%
	width:100%
	z-index:1111
	overflow:scroll
	opacity:0.5
	display:none
	&.visible
		display:block

.emptylistimg
	display:block
	min-height:30px
	width:100%
	background: $light-grey

.server
	font-size:0.9em


	.newpagename,
	#creatpage
		display:none
	&.addpageform
		[data-name="mp3"]
			display:none
		[data-name="pdf"]
			display:none
		.newpagename
			display:block
			padding:5px
			width:100%
		#creatpage
			display:block
			text-align:center
		#insertimg
			display:none

	.withpreview
		width: calc(100% - 320px)
		border-right: $light-grey solid 1px

	.shield
		content:''
		background:#000
		position:fixed
		top:0
		left:0
		height:100%
		width:100%
		z-index:11
		overflow:scroll
		opacity:0.5

	.warp
		background:#fff
		position:absolute
		top:50%
		left:50%
		height:80%
		width:80%
		transform: translateX(-50%) translatey(-50%)
		z-index:11000
		overflow:hidden
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
		border-radius:5px

	.scrolllistimg
		position:absolute
		height:calc(100% - 60px)
		width:100%
		overflow:scroll
		top:30px

	&.hidden
		display:none

	.folder,
	li
		line-height: lineheight
		cursor: pointer
		&:nth-child(even)
			background:$very-light-blue
		&:nth-child(odd)
			background:#fff

		&.selected_folder
			position: relative
			// label
			// 	&:first-child
			// 		color:#fff
			&:before
				display:block
				position: absolute
				content: ''
				height:lineheight
				width: calc( 100% - 10px )
				background:$blue
				border-radius:10px
				left:5px

	.folder-trigger
		display:none

	.icon-folder
		line-height: lineheight
		display:inline-block
		position:relative
		padding-left:lineheight
		margin-left: 20px
		&:before
			font-size:(lineheight/1.3)
			position:absolute
			top: 3px
			left:0
			color:$light-blue

	.folder_0:checked ~ ul.sub_0
		display:block
		label
			margin-left:20px
		li
			padding-left:10px

	.folder_1:checked ~ ul.sub_1
		display:block
		label
			margin-left:40px
		li
			padding-left:30px
	.folder_2:checked ~ ul.sub_2
		display:block
		label
			margin-left:60px
		li
			padding-left:50px
	.folder_3:checked ~ ul.sub_3
		display:block
		label
			margin-left:80px
		li
			padding-left:70px
		display:block
	.folder_4:checked ~ ul.sub_4
		display:block
		label
			margin-left:100px
		li
			padding-left:90px
		display:block
	.folder_5:checked ~ ul.sub_5
		display:block
	.folder_6:checked ~ ul.sub_6
		display:block

	.folder-trigger:checked ~ .icon-folder:before
		content: "\EA07"

	ul
		padding:0
		list-style-type:none

	[class*='sub_']
		display:none

	li
		position:relative
		// padding-left: 30px
		.contimg
			width:35px
			height:lineheight
			float: left
			text-align: center
		img
			height: (lineheight - 4px)
			box-shadow: 0px 0px 5px #888888
			border:#fff 1px solid
			position:relative
			z-index:1

		.name
			position:relative
			z-index:1

.accessserver,
#insertimg,
#creatpage
	width:100%
	text-align: center
	text-decoration: none
	background:$grey
	display: block
	line-height: 30px
	color:#fff
	&#insertimg,
	&#creatpage
		background:$blue
		position: absolute
		bottom: 0
		z-index:1000

	&:before
		padding-right:10px

	&:hover
		color:#fff


.lignfolder
	background:$light-grey

.btndelatefolder
	display:inline-block
	margin-left:5px

.managefile
	#cloud
		margin:0
	.addblocks .warper.thin
		padding:0
		position: relative


.previewfile
	float:right
	max-width: 300px
	margin: 10px
	background:#fff
	height:100%
	img
		width:100%


