.admin
	#main
		button.deleatperso,
		button.deleatslide
			background:#fff
			height: 27px
			width: 30px
			padding: 5px
			position: absolute
			top:-20px
			right:5px
			z-index: 2

			&.deleatslide
				top:5px
				height:30px

			&:before
				color:red

		.level-1,
		.level-2,
		.level-3,
		.level-4,
		.level-5
			.handlesort.handleblock
				display:none

		.handlesort.handleblock
			display:block
			position:absolute
			width:40px
			height:40px
			cursor:pointer
			left:5px
			border:1px solid $bg-admin-color-primary
			border-radius:50%
			padding:5px
			@extend .vertalign

			&:before
				font-size:40px
				color:$bg-admin-color-primary

		&.active_sortable
			.warper.level-0
				max-height:170px
				overflow:hidden
			.handlesort.handleblock
				background:$light-blue


		.blocks.img,
		.blocks.perso
			.active_sortable
				.handlesort
					background: $light-blue

			.handlesort
				background: $light-grey
				cursor: pointer
				height:30px


		.blocks.perso
			.persons
				li
					position: relative
					margin-bottom: 30px

					.handlesort
						position: absolute
						width: 90%
						top: -21px
						height: 27px

			.active_sortable
				.infos
					display: none