// .editable[contentEditable=true]:not(:focus):before
// .editable[contentEditable=true]:empty:not(:focus):before
//     content:attr(data-ph)

// .editable p.placeholder:before
//     content:attr(data-ph)

.editable:empty:not(:focus):before
    background: $light-grey
    content:attr(data-ph)
	padding: 5px
	cursor: pointer

.editable
	width: 100%
	height: 100%