.bulle
	position: absolute
	background:$light-grey
	z-index: 1
	box-shadow: 0px 0px 5px $dark-grey
	opacity: 0.9
	min-width: 320px
	top: 28px
	padding: 10px
	display: none
	z-index: 10

	h3
		margin: 0

	&:before
		content: ''
		position: absolute
		top: -19px
		left: 5px
		z-index: 2
		height: 0
		width: 0
		border: 10px solid transparent
		border-bottom-color: $light-grey

	&.visible
		display: block


.contuploadbtn
	background: $dark-grey
	padding-left: 15px
	color: $light-grey
	display: inline-block
	width: auto
	border-radius: 5px
	margin-right: 10px
	height:32px
	&:before
		padding-right:10px
		display: inline-block
		margin-top:7px



#upload_form
	input,
	button
		vertical-align: top

	input
		height:20px
	button
		height:32px

	#filesToUpload
		width:auto
		padding: 4px
		height: auto
		color: $light-grey
		vertical-align: top



#newfoldername
	margin: 0
	padding: 2px
	width: 224px
	border:#0758be solid 4px
	border-top-right-radius:5px
	border-bottom-right-radius:5px

button.btnaddfolder
	border-top-right-radius:0px
	border-bottom-right-radius:0px
	&:before
		padding-right:10px


#fileList
	list-style: none
	padding: 0

	li.error
		background: #be0714
		color: #fff

.bar
	background:$light-grey
	height:16px
	width:100%
	border-radius: 8px
	margin: 2px 0
	box-shadow: inset 0px 2px 8px rgba(0,0,0,0.5)

.progressbar
	@extend .bar
	position: relative
	.progresslevel,
	.progresstotal
		transition: width 0.4s
		display:block
		position: absolute
		top:0
		left:0
		height:14px
		@extend .bar

	.progresslevel
		background:$grey
		width:0%
		opacity: 0.6

	.progresstotal
		background:$dark-grey
		width:0%
