article.blocks.preview_article(
	class!="<?php echo d('extra_class',$data);?>"
	)
	a(href!="<?php echo d('post_permalink',$data);?>")
		header
			.meta
				.contmeta
					time(pubdate='pubdate').date
						!=d('post_date',$data)

					.catergory
						!=d('category',$data)
		.main
			.thumbnail
				!=d('post_thumbnail',$data)
			.txt
				.author
					span
						!=d('post_author',$data)

				.title
					span
						!=d('post_title',$data)

				blockquote(cite!="<?php echo d('post_permalink',$data);?>").excerpt
					span.highlight
						!=d('post_excerpt',$data)

	//- print_r($data);