article.blocks.preview_article(
	class!="<?php echo d('extra_class',$data);?>"
	)
	a(href!="<?php echo d('post_permalink',$data);?>")
		include perfect_image.php.jade
		//- figure.thumbnail
		//- 	!=d('post_thumbnail',$data)
		header
			h6.title
				!=d('post_title',$data)

			.meta
				.contmeta

					.author
						!=d('post_author',$data)

			//- blockquote(cite!="<?php echo d('post_permalink',$data);?>").excerpt
			//- 	span.highlight
			//- 		!=d('post_excerpt',$data)
