figure.perfect_image(
	style!="<?php echo $data['thumb_as_bg'];?>"
	class!="<?php echo $data['extraclass_perfect_img'];?>"
	)
	!=d('post_thumbnail',$data)
	//- -var_dump(d('post_thumbnail_src_small',$data))