.blocks.preview_article
	position: relative
	blockquote
		margin: 0

	img
		width:100%
		height:auto

	a
		display: block
		text-decoration: none
		color: $ft-color-primary
		&:hover
			color: $ft-color-primary

	.title
		font-size:1.875em
		// line-height:1.500em

	.meta
		font-size:0.750em

	&.full_size_preview
		header
			position: absolute
			bottom : 0
			padding:$space-1

		.meta
			display: block
			.contmeta
				background: $primary-color
				padding: ($space-1 / 4) ($space-1 / 2)
				text-transform: uppercase
				display: inline-block

				*
					display: inline-block
					&:after
						content:' - '
					&:last-child:after
						content:''

				.catergory
					font-weight: bold

		.title
			display: inline-block
			color: $ft-color-secondary
			background: $very-dark-grey
			padding: ($space-1 / 2)
			font-size:2.875em
			// line-height:2.250em

		.excerpt
			@extends .excerpt_highlight

	&.photo_preview
		position: relative
		margin-bottom: $space-1
		header
			position: absolute
			bottom : 0
			padding: 0 0 ($space-1/2) 0
			width: 100%
			text-align: center
			&:before
				position: absolute
				content: ''
				display: block
				width: 100%
				height:100%
				top :0
				left:0
				background:#000
				opacity: 0.5
				z-index:0

			.title,
			.author
				color: $ft-color-secondary
				z-index:1
				position: relative

			.title
				font-size:2.875em
				// line-height:1
				padding: ($space-1/2) 0
			.author
				font-size:0.750em


		blockquote
			display: none

	&.small_size_preview,
	&.extra_small_size_preview
		.meta
			font-weight:700
			.contmeta
				position: relative
				*
					display: inline-block
					text-transform: uppercase
					&:first-child
						left:0
					&:last-child
						position: absolute
						right:0
					&.date
						color: $dark-grey

		.author
			color: $dark-grey

		.title
			padding: ($space-1/4) 0

		img
			padding: ($space-1/3) 0 ($space-1/2.5) 0

@media $bs-screen-ld-min
	.blocks.preview_article
		&.full_size_preview
			.thumbnail
				position:relative
				padding-bottom:40%
				overflow: hidden
				img
					position:absolute
					top:-50%
					bottom:-50%
					margin:auto
					width: 100%
					height: auto

		&.small_size_preview,
		&.extra_small_size_preview
			padding-bottom:$space-1
			float: left
			&:not(.full):not(.gridstill)
				width:50%
				a
					padding-right: $space-1

			&.gridstill
				width:100%
			// &.gridstill:nth-child(odd)
			// 	a
			// 		padding-right: $space-1

		&.extra_small_size_preview
			width:33.3%

		&.small_size_preview,
		&.extra_small_size_preview
			min-height:400px

			.excerpt
				span
					@extend .block-with-text

	.frontpage
		.photos-reportages
			position:relative
			.main,
			a
				position: relative
				height:100%
				overflow:hidden

			.txt
				position: absolute
				bottom: 0
				margin: ($space-1/2)
				color:#fff
				text-align: center

				.author,
				.title
					text-align: left
					padding:0 ($space-1 / 2)
					margin-bottom: 0
					padding-left: $padding_highlight
					max-width: 70%
					span
						display: inline
						background: $very-dark-grey
						color: white
						padding: 3px
						line-height:1.4
						padding-left: 0
						padding-right: 0
						box-decoration-break: clone
						box-shadow: $padding_highlight 0 0 $very-dark-grey, - $padding_highlight 0 0 $very-dark-grey

				&:after
					content: "\EA1D"
					-moz-osx-font-smoothing: grayscale
					-webkit-font-smoothing: antialiased
					content: $content
					font-family: 'icons'
					font-style: normal
					font-size: 50px
					font-variant: normal
					font-weight: normal
					line-height: 1.5
					speak: none
					text-transform: none

			.excerpt
				display: none

			.thumbnail
				height:100%
				width:100%
				img
					position: absolute
					left: -50%
					right: -50%
					margin: auto
					height: 100%
					width: auto


