$padding_highlight = ($space-1 / 2)



.excerpt_highlight
	background $very-dark-grey
	color white
	padding ($space-1 / 2)

	@media $bs-screen-ld-min
		margin-bottom 0
		padding 0
		padding-left $padding_highlight
		max-width 70%
		background none


		span
			display inline
			background $very-dark-grey
			color white
			padding 3px
			line-height 1.4
			padding-left 0
			padding-right 0
			box-decoration-break clone
			box-shadow $padding_highlight 0 0 $very-dark-grey, - $padding_highlight 0 0 $very-dark-grey

