@font-face
	font-family 'Helvetica Neue'
	src url("../public/fonts/HelveticaNeue-Roman.eot")
	src url("../public/fonts/HelveticaNeue-Roman.eot?#iefix") format('embedded-opentype'), url("../public/fonts/HelveticaNeue-Roman.woff") format('woff'), url("../public/fonts/HelveticaNeue-Roman.ttf") format('truetype'), url("../public/fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman") format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family 'Helvetica Neue'
	src url("../public/fonts/HelveticaNeue-Bold.eot")
	src url("../public/fonts/HelveticaNeue-Bold.eot?#iefix") format('embedded-opentype'), url("../public/fonts/HelveticaNeue-Bold.woff") format('woff'), url("../public/fonts/HelveticaNeue-Bold.ttf") format('truetype'), url("../public/fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format('svg')
	font-weight 700
	font-style normal

