#main
	padding-top:$navigation-height

.blocks	h3
	font-size:40px
	font-family maloz
	text-transform:uppercase

.romhand
	font-family maloz
	font-size:140%

.stephhand
	font-family hirlemann
	font-size:140%

body
	background-image:url('../images/handmadepaper.png')