html
	font-size: 100%

body
	color: $ft-color-primary
	font-family: $ft-family-primary
	font-size: 16px

	@media $bs-screen-xsd-max
		font-size:12px

	a
		color:$ft-color-primary
		text-decoration:none

		&:hover
			color: $ft-color-secondary

.blocks
	h2
		font-size:5.000em
		text-transform:uppercase
		margin: 1%
		color:#fff
		background: #000
		margin:0
		display: inline-block
		padding: 0 10px
		// line-height: 4.563em

	h3
		font-size:2.500em
		text-transform:uppercase
		margin: 1%
		// line-height: 2.688em

	h4
		font-size:1.875em
		text-transform:uppercase
		margin: 1%
		// line-height: 2.063em

#main,
.mainheader,
.categories
	max-width:67em
	margin: auto
	padding-left:$space-1
	padding-right:$space-1

.my_container
	max-width:67em
	margin: auto

#main
	padding-top:92px

&.full,
&.one_third,
&.two_third
	padding-bottom: $space-1

article
	img
		width:100%
		height:auto

	ul
		list-style-type: none
		padding: 0

		li
			padding-bottom: $space-1

	&.fullarticle
		text-align: center

	.title
		text-transform: uppercase
		font-family: $ft-family-primary-cond
		font-size:2.875em

	.author
		font-size:0.750em

.icon-search
	display:inline-block
	position: relative
	height:$space-1
	width:$space-1
	&:before
		top:4px
		left:0
		position:absolute

footer
	width:100%
	background:$light-grey
	clear: both
	padding:$space-1
	text-align:center

@media $bs-screen-ld-min
	#main,
	.mainheader,
	.categories
		padding-left:0
		padding-right:0

	#main
		padding-top:0

	.two_third
		width:66.6%

		.fullarticle
			padding-right:$space-1
			text-align:left

	.one_third
		width:33.3%

	.two_col
		> :first-child
			float: left
		> :last-child
			float: right


