.btnaddslide
	.warper
		- $idmoreimage = md5(uniqid(rand(), true));
		.warpinput
			input(type='radio' name!='<?php echo $idmoreimage;?>slide' id!='<?php echo $idmoreimage;?>' value!='txt' checked='checked')
			label.icon-images.round(for!='<?php echo $idmoreimage;?>slide')

		button.blue.addslide.icon-plus.round