button.bin.icon-bin.round.red(
		data-level!="<?php echo d('level', $data); ?>",
		data-need-update-col-size!="<?php echo (d('type', $data)!=='repeater') ? 'true' : 'false'; ?>",
		data-id-to-remove!="<?php echo d('key',$data); ?>",
		)