- $idcog = 'cog'.md5(uniqid(rand(), true));
- $idcolor = 'color'.md5(uniqid(rand(), true));
.warpinput.cog(
	class!="<?php echo 'level-'.d('level',$data);?>"
	)
	input(type='checkbox' id!='<?php echo $idcog;?>' class='fullbox')
	label.icon-cog.round(for!='<?php echo $idcog;?>')
	.listoptions
		- $idwhite = 'colorname'.md5(uniqid(rand(), true));
		- $idcolor = 'color'.md5(uniqid(rand(), true));
		.warpinput.color
			input(type='radio' name!='<?php echo $idcolor;?>' id!='<?php echo $idwhite;?>' value!='white' checked='checked')
			label.white.round(for!='<?php echo $idwhite;?>')

		- $idred = 'colorname'.md5(uniqid(rand(), true));
		.warpinput.color
			input(type='radio' name!='<?php echo $idcolor;?>' id!='<?php echo $idred;?>' value!='red')
			label.red.round(for!='<?php echo $idred;?>')

		- $idblack = 'colorname'.md5(uniqid(rand(), true));
		.warpinput.color
			input(type='radio' name!='<?php echo $idcolor;?>' id!='<?php echo $idblack;?>' value!='black')
			label.black.round(for!='<?php echo $idblack;?>')

		-if(d('level',$data)=='0'):
		include fullscreenbtn.jade
		-endif;