.listbtnright.addblocks(
		data-insert-column='true',
		data-nb-column!='<?php echo $nbcolon;?>'
		data-lign-id!='<?php echo $keymodule;?>'
		)
	block bin
	-if(d('level',$data)==='0'):
	include fullscreenbtn.jade
	-endif;
	include addbtn.jade
