.loginbar
	- if($logged):
	button.green#savepage=d('save',$dico)
	a
		!=d('welcome',$dico).' '.$user_name.' ! '
	button.blue#unlog
		!=d('unlog',$dico)
	- else:
	form(method='post')
		input(type='text', name='login', value='', placeholder!='<?php echo d(\'name\',$dico);?>')
		input(type='password', name='password', value='', placeholder!='<?php echo d(\'password\',$dico);?>')
		input.blue(type='submit', name='commit',value!='<?php echo d(\'log\',$dico);?>')
	- endif;
