.addblocks.uploadmodule
	.lignfolder
		.warper
			input(type='hidden', id='totalbites', value='0')
			input(type='hidden', id='uploadedbites', value='0')
			form#upload_form(enctype='multipart/form-data', method='post')
				.contuploadbtn.icon-upload
					input#filesToUpload(name='filesToUpload[]', type='file', multiple='' accept='')
				button.blue.btnaddfolder.icon-folder-plus
					| ajouter un dossier
				input#newfoldername(type='text', name='newfoldername', placeholder='Nom de votre nouveau dossier')
				button.red.btndelatefolder
					| supprimer du serveur
		//- input#renameinput(type='text', name='renameinput')
		//- button.btnrename
			| renommer
	.warper.thin
		.progressbar
			span.progresstotal
			span.progresslevel
		.bulle
			h3#status
			p#loaded_n_total
			ul#fileList

	.darkgreybg
		.warper.thin
			.showurl
				| &nbsp;

