extends layout
block stylesheet
	link(rel='stylesheet', href!='css/admin.css?<?php echo time(); ?>')
block additionalscript
	script(src='//tinymce.cachefly.net/4.2/tinymce.min.js')
block loginbar
	include ./includes/admin/loginbar.jade

//- block backgroundimage
//- 	.fullbg(style='background-image: url(/images/cover-emty.jpg)')

block listimgserver
	.server.hidden.replaceimg
		.shield
		.warp
			a.accessserver.icon-folder-upload(href!='/serveur')
				| acces au seveur
			- ListFolder(str_lreplace('/','',$pathimgfolder))

block btnadmintop
	include ./includes/admin/addblocksbtn.jade

block pagescript
	script(src='js/vendor/jquery.sortable.min.js')
	script(src!='js/admin.js?<?php echo time(); ?>')

block samples
	section#samples
		- $data['sample'] = true;
		- $data['type'] = 'txt';
		- $data['blockclass'] = 'txt';
		include ../../module/blocks/index.php.jade
		- $data['img'] = 'http://placehold.it/350x150'
		- $data['type'] = 'img';
		- $data['blockclass'] = 'img';
		include ../../module/blocks/index.php.jade
		- $data['img'] = 'http://placehold.it/150x150'
		- $data['type'] = 'perso';
		- $data['blockclass'] = 'perso';
		include ../../module/blocks/index.php.jade
		- $data['level'] = '0';
		- $data['type'] = 'repeater';
		- $data['blockclass'] = 'repeater';
		- $data['contentclass'] .= 'grid';
		include ../../module/blocks/index.php.jade

		div#slide
			- $data['img'] = 'http://placehold.it/350x150'
			include ../../module/slider_fullscreen/slide.jade
		div#person
			- $data['img'] = 'http://placehold.it/150x150'
			include ../../module/person_list/person.jade


