- /* Template Name: Photo-reportages */
extends layout-archive

block navigation
	include ../../module/navigation/index.php.jade

block query
	- $type = 'photos-reportages';
	- $postperpage = 3;
	- $this_extra_class = ' photo_preview';
	- $classli = 'col-xs-12';

block blockinclude
	include ../../module/block_preview_article/alt_photo.php.jade
