block template
	- /* Template Name: articles */
extends layout-archive

block navigation
	include ../../module/navigation/with_categories.php.jade

block query
	- $type = 'post';
	- $this_extra_class = 'small_size_preview gridstill';
	- $classli = 'col-xs-12 col-sm-6 col-lg-4';
	- $postperpage = 9;
	- $y_a_pub = true;

block blockinclude
	include ../../module/block_preview_article/alt.php.jade

block pubaside
	- switch ($index):
		- case ($index>2 && $index<=4):
			- $nb_pub = 2;
			- break;
		- case ($index>4):
			- $nb_pub = 3;
			- break;
		- default:
			- $nb_pub = 1;
	- endswitch;


	aside.adds.too_top_right
		- $date = date('Ymd');
		- $args_event_pub = array('orderby' => 'rand', 'posts_per_page' => $nb_pub, 'post_type'=>'publicités', 'meta_key' => 'taille','meta_value' => 'grand', 'meta_query' => array('relation' => 'AND', array( 'key' => 'date_de_debut_de_campagne', 'compare'	=> '<=', 'value' => $date, ), array( 'key' => 'date_de_fin_de_campagne', 'compare'	=> '>=', 'value' => $date, )));
		- $my_query = null;
		- $my_query = new WP_Query($args_event_pub)
		- if( $my_query->have_posts() ) :
			- while ($my_query->have_posts()) : $my_query->the_post()
					- $data = prepare_post();
					- $data['extra_class'] .= ' large_add';
					include ../../module/block_ad/index.php.jade
			- endwhile
		- endif


