extends grid-layout
block query

	- /* Template Name: home */



	- $type = array( 'post');
	- $cat = get_the_category();
	- $cat = $cat[0];
	- $catid = $cat->cat_ID;
	- $cat_name = get_cat_name($catid);


	//-- $sliderfrontpost=array('cat' => $catid, 'meta_query' => array(array('key' => 'on_front_page','value' => '1','compare' => '==')))
	- $sliderfrontpost=array('cat' => $catid, 'post_type' => $type,'post_status' => 'publish','meta_query' => array(array('key' => 'on_front_page','value' => '1','compare' => '==')));
	- $my_query_slider = null;
	- $my_query_slider = new WP_Query($sliderfrontpost);
	- $count_posts_slider = $my_query_slider->found_posts;


	- $args=array('orderby' => 'date',  'cat' => $catid, 'post_type' => $type,'post_status' => 'publish', 'offset' => $offset, 'posts_per_page' => -1 );
	- $my_query_grid = null;
	- $my_query_grid = new WP_Query($args);
	- $count_posts = $my_query_grid->found_posts;
	- $lgcolsize = ceil(12 / $count_posts);


block sliderfront
	include ../../module/block_slider/index.php.jade

