extends layout-archive
block query
	- $categories = get_the_category();
	- $category_id = $categories[0]->cat_ID;
	- $args=array('post_type' => $type,'cat' => $category_id, 'post_status' => 'publish','posts_per_page' => -1,'caller_get_posts'=> 1);

	- $this_extra_class = 'small_size_preview gridstill';
	- $md_larg = 4;


block cat
	include ../../module/block_categories/index.php.jade


block blockinclude
	include ../../module/block_preview_article/alt.php.jade