- /* Template Name: contact */
- get_header();

include ../../module/navigation/index.php.jade

main#main.site-main(role='main')
	section
		.blocks.contact-form
			#contact-form.clearfix
				- the_content();
- get_sidebar();
- get_footer();