- /* Template Name: contact */
//- - get_header();
doctype html
html(<?php language_attributes(); ?>)
	include header.jade
	body(
	class!="<?php echo $stringclass;?>"
	)

	include ../../module/navigation/index.php.jade

	main#main.site-main
		section
			.blocks.contact-form
				#contact-form.clearfix
					- the_content();
	- get_footer();