- /* Template Name: contact */
doctype html
html
	include header.jade
	body(
	class!="<?php echo $stringclass;?>"
	)
		include ../../module/navigation/index.php.jade
		main#main.site-main
			.blocks.contact-form.my_container
				#contact-form.clearfix
					- if (have_posts()) :
						- while (have_posts()) : the_post();
							- the_content();
						- endwhile;
					- endif;
		- get_footer();