extends front-page-layout
block query
	- /* Template Name: home */
	- $sliderfrontpost=array('meta_query' => array(array('key' => 'on_front_page','value' => '1','compare' => '==')))
	- $my_query_slider = null;
	- $my_query_slider = new WP_Query($sliderfrontpost);
	- $count_posts_slider = $my_query_slider->found_posts;





block sliderfront
	include ../../module/block_slider/index.fullheight.php.jade

