block query

doctype html
html
	include header.jade
	body(
	class!="<?php echo $bodyclass;?>"
	)
		include ../../module/navigation/index.php.jade

		main#main.site-main.my_container
			block sliderfront
			.my_container.no-pad
				.smaller
					include ../../module/grid/index.php.jade
		- get_footer();