- preg_match('/MSIE (.*?);/', $_SERVER['HTTP_USER_AGENT'], $matches);
- $bodyclass = implode(' ', get_body_class());
- global $isIE;
- global $isIEbool;
- $isIE = (count($matches)>1) ? ' isie ' : ' isnotie ';
- $isIEbool = (count($matches)>1) ? true : false;

- $langclass = 'lang-'.ICL_LANGUAGE_CODE;
- $stringclass = $bodyclass.$isIE.$langclass;

- $descrition = is_single() ? get_the_popular_excerpt(get_field('chapeau')) : get_bloginfo('description');
- $img = is_single() ? wp_get_attachment_url(get_post_thumbnail_id($post->ID)) : get_stylesheet_directory_uri().'/images/logo-'.ICL_LANGUAGE_CODE.'.svg';
- $meta_author = is_single() ? get_field('auteur') : get_bloginfo();

- $titlepage = get_bloginfo('name');
- $titlepage .= ' | ';
- $titlepage .=( is_front_page() ? get_bloginfo('description') : get_the_title());
//-.(is_front_page() ? bloginfo('description') : wp_title());

head
	-if($isIEbool):
		meta(http-equiv="X-UA-Compatible" content="IE=10")
	-endif;
	meta(charset!="<?php bloginfo('charset'); ?>")
	meta(name="viewport" content="width=device-width")
	meta(name="description" content!="<?php echo $descrition; ?>")
	meta(name="author" content!="<?php echo $meta_author; ?>")
	meta(property="og:title" content!="<?php echo the_title(); ?>")
	meta(property="og:description" content!="<?php echo $descrition; ?>")
	meta(property="og:type" content="article")
	meta(property="og:url" content!="<?php echo the_permalink(); ?>")
	meta(property="og:site_name" content!="<?php echo get_bloginfo(); ?>")
	meta(property="og:image" content!="<?php echo $img; ?>")

	title
		!= $titlepage

	link(rel="shortcut icon" href!="<?php echo get_stylesheet_directory_uri().'/favicon.ico' ;?>" type="image/x-icon" )
	link(rel="apple-touch-icon-precomposed" sizes="152x152" href!="<?php echo get_stylesheet_directory_uri().'/images/favico/favicon-152.png' ;?>")
	link(rel="apple-touch-icon-precomposed" sizes="144x144" href!="<?php echo get_stylesheet_directory_uri().'/images/favico/favicon-144.png' ;?>")
	link(rel="apple-touch-icon-precomposed" sizes="120x120" href!="<?php echo get_stylesheet_directory_uri().'/images/favico/favicon-120.png' ;?>")
	link(rel="apple-touch-icon-precomposed" sizes="114x114" href!="<?php echo get_stylesheet_directory_uri().'/images/favico/favicon-114.png' ;?>")
	link(rel="apple-touch-icon-precomposed" sizes="72x72" href!="<?php echo get_stylesheet_directory_uri().'/images/favico/favicon-72.png' ;?>")
	link(rel="apple-touch-icon-precomposed" href!="<?php echo get_stylesheet_directory_uri().'/images/favico/favicon-57.png' ;?>")

	link(type="text/css" rel="stylesheet" href!="<?php echo get_stylesheet_directory_uri(); ?>/style.css?<?php echo time(); ?>")
	|<!--[if lt IE 10]>
	script(src!='<?php echo get_stylesheet_directory_uri(); ?>/js/vendor/modernizr-2.8.3.min.js')
	|<![endif]-->
	script
		| document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';




