doctype html
html.no-js
	include ./includes/head.jade
	block additionalscript
	body(data-pagejson!="<?php echo $pagetoload.$lang; ?>" class!="<?php echo $pageurl.' '; if($admin){echo 'admin';};  if($speciallayout){echo ' '.$speciallayout;};?>")
		block facebookshare
		block backgroundimage
		block loginbar
		include ../../module/navigation/index.php.jade
		section#main
			- $data['level'] = '0'
			- $data['key'] = 'firstline'
			- $data['type'] = 'repeater'
			div#firstline
				block btnadmintop
			- $data = $pagejson
			- parser($data, $admin, $dico)// dans php/function.php
		block contactform
		block managefile
		block samples
		include ../../module/navigation_footer/index.php.jade
		include ./includes/footer.jade
		block listimgserver