doctype html
html.no-js
	include ./includes/head.jade
	block additionalscript
	body(data-pagejson!="<?php echo $pagetoload.$lang; ?>" class!="<?php if($admin){echo 'admin';};?>")
		block backgroundimage
		block loginbar
		block listimgserver
		include ../../module/navigation/index.php.jade
		section#main
			block btnadmintop
			- $data = $pagejson
			- parser($data, $admin)
			//- != $admin.'  $admin'
			//- include ./includes/repeater.jade

			//- - foreach ($data as $key => $content):
			//- 	- $data = $content
			//- 	- $data['key'] = $key
			//- 	- if(d('type',$data)==='repeater'):
			//- 	include ./includes/repeater.jade
			//- 	- else:
			//- 	include ./includes/block.jade
			//- 	- endif;
			//- - endforeach
		block samples
		include ./includes/footer.jade