block template
block query

- $part = $_GET['part'] - 1;
- $part = ($part<0) ? 0 : $part;
- $offset = 0;
- if($part>=1):
	- $offset = $postperpage * $part;
- endif;

- $args=array('post_type' => $type, 'cat' => $cat, 'post_status' => 'publish','posts_per_page' => -1);
- $my_query = null;
- $my_query = new WP_Query($args);
- $count_posts = $my_query->found_posts;
- wp_reset_query();

- $args=array('post_type' => $type, 'cat' => $cat, 'post_status' => 'publish','posts_per_page' => $postperpage, 'offset' => $offset);
- $my_query = null;
- $my_query = new WP_Query($args);
- $nblinav = ceil($count_posts / $postperpage);
doctype html
html(<?php language_attributes(); ?>)
	include header.jade
	body(
	class!="<?php echo $stringclass;?>"
	)
	block navigation

	main#main.site-main
		hr.smalldevice
		section
			- if( $my_query->have_posts() ) :
				section.blocks
					.grid.container-fluid
						.row
							- $index = 0;
							- while ($my_query->have_posts()) : $my_query->the_post();
								- $data = prepare_post();
								- $data['extra_class'] .= $this_extra_class;
									- $cli = $classli;
									- if(($index === 1 || $index === 3 || $index === 5) && $y_a_pub) :
										- $cli .= ' col-lg-offset-4';
									- endif;
									- $index ++;
									div(
									class!="<?php echo $cli;?>"
									)
										block blockinclude
							- endwhile;
			- endif;
			- wp_reset_query();  // Restore global post data stomped by the_post().

		block pubaside

		section
			include ../../module/block_numeric_nav/index.php.jade

	- get_footer();