extends layout
block stylesheet
	link(rel='stylesheet', href!='/css/admin.css?<?php echo time(); ?>')
block additionalscript
	//- script(src='//tinymce.cachefly.net/4.2/tinymce.min.js')
	//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	//- script(src='http://rubaxa.github.io/Sortable/Sortable.js')

block loginbar
	include ./includes/admin/loginbar.jade

block listimgserver
	.cover
	.server
		.previewfile
		- if($logged):
		- ListFolder(str_lreplace('/','',$pathcloud))
		- endif;

block btnadmintop
	- if($logged):
	include ./includes/admin/uploadbtn.jade
	- endif;

block pagescript
	script(src='/js/vendor/jquery.sortable.min.js')
	script(src!='/js/admin.js?<?php echo time(); ?>')
