extends layout
block stylesheet
	link(rel='stylesheet', href!='/css/admin.css?<?php echo time(); ?>')
block additionalscript
	script(src='//tinymce.cachefly.net/4.2/tinymce.min.js')

block loginbar
	include ./includes/admin/loginbar.jade

block listimgserver
	.server.hidden.replaceimg
		.shield
		.warp
			a.accessserver.icon-folder-upload(href!='/serveur')
				| acces au seveur

			.previewfile
			.scrolllistimg
				input(type='text', name='newpagename', value='', placeholder!='<?php echo d(\'newpagename\',$dico);?>' tabindex='-1', class="newpagename")
				- ListFolder(str_lreplace('/','',$pathcloud))
			a#insertimg(href!='#')
				| inserer
			a#creatpage(href!='#')
				| creat page

block edit_img_titre
	include includes/admin/edittitrepage.jade


//- block newpage
	//- include ../../page/newpage/index.php.jade

block pagescript
	script(src='/js/vendor/jquery.sortable.min.js')
	script(src!='/js/admin.js?<?php echo time(); ?>')

block samples
	section#samples
		- $data['sample'] = true;
		- $data['type'] = 'txt';
		- $data['blockclass'] = 'txt';
		include ../../module/blocks/index.php.jade
		- $data['sample'] = true;
		- $data['type'] = 'music';
		- $data['blockclass'] = 'music';
		include ../../module/blocks/index.php.jade
		- $data['sample'] = true;
		- $data['type'] = 'video';
		- $data['blockclass'] = 'video';
		include ../../module/blocks/index.php.jade
		- $data['img'] = 'http://placehold.it/350x150'
		- $data['type'] = 'img';
		- $data['blockclass'] = 'img';
		include ../../module/blocks/index.php.jade
		- $data['img'] = 'http://placehold.it/150x150'
		- $data['type'] = 'perso';
		- $data['blockclass'] = 'perso';
		include ../../module/blocks/index.php.jade
		- $data['level'] = '0';
		- $data['type'] = 'repeater';
		- $data['blockclass'] = 'repeater';
		- $data['contentclass'] .= 'grid';
		include ../../module/blocks/index.php.jade

		div#slide
			- $data['img'] = 'http://placehold.it/350x150'
			include ../../module/slider_fullscreen/slide.jade
		div#person
			- $data['img'] = 'http://placehold.it/150x150'
			include ../../module/person_list/person.jade