extends layout
block stylesheet
	link(rel='stylesheet', href!='css/style.css?<?php echo time(); ?>')
//- block backgroundimage
//- 	div.fullbg(style='background-image: url(/images/cover-emty.jpg)')
block pagescript
	script(src!='js/base.js?<?php echo time(); ?>')