- get_header();
	#primary.content-area
		main#main.site-main(role='main')
			- echo 'promotions_codes';
			- if (get_field('promotions_codes' )):
				.btn-group
				- while(has_sub_field('promotions_codes' )):
					- $field = get_field_object('promotions_codes');
					- $subField = $field['sub_fields']['field_1'];
					- $value = get_sub_field('select_promotion');
					- $label = $subField['choices'][ $value ];
					- echo $value;
					- endwhile;
			- endif;

- get_footer();