- $type = array('post');

//- - get_header();
doctype html
html(<?php language_attributes(); ?>)
	include header.jade
	body(
	class!="<?php echo $stringclass;?>"
	)
		- $thisid = $post->ID;

		- $currentpostcat = get_the_category()[0]->slug;

		- $arraytax = explode(' ', get_all_tax_name());
		- $sametype = $arraytax[1];
		- $samecolor = $arraytax[2];
		- $array_general_tax_color = array('taxonomy' => 'bieres_couleur', 'field' => 'slug', 'terms' => $samecolor);
		- $array_general_tax_type = array('taxonomy' => 'bieres_type', 'field' => 'slug', 'terms' => $sametype);

		- $args_same_color = array('post_type' => 'bieres','post_status' => 'publish','posts_per_page' => 2, 'post__not_in' => array($thisid), 'tax_query' => array( $array_general_tax_color ));
		- $args_same_type = array('post_type' => 'bieres','post_status' => 'publish','posts_per_page' => 2, 'post__not_in' => array($thisid), 'tax_query' => array( $array_general_tax_type ));

		- $my_query_same_color = null;
		- $my_query_same_color = new WP_Query($args_same_color);

		- $my_query_same_type = null;
		- $my_query_same_type = new WP_Query($args_same_type);

		include ../../module/navigation/index.php.jade

		main#main.site-main

			.two_col
				section.two_third
					- $data = prepare_post();
					- $data['single-bieres'] = true;
					include ../../module/block_biere/index.php.jade

					include ../../module/block_social/index.php.jade


				aside.one_third
						- $my_query_same = $my_query_same_color;
						- $title_same = (ICL_LANGUAGE_CODE == 'nl') ? 'Zelfde kleur' : 'Dans la même couleur';
						- $type_string = 'bieres_couleur';
						- $same = $samecolor;
						include same.jade

						- $my_query_same = $my_query_same_color;
						- $title_same = (ICL_LANGUAGE_CODE == 'nl') ? 'Zelfde stijl' : 'Du même style';
						- $type_string = 'bieres_type';
						- $same = $sametype;
						include same.jade



		- get_footer();