doctype html
html(<?php language_attributes(); ?>)
	include header.jade
	body(
	class!="<?php echo $stringclass;?>"
	)
		include ../../module/navigation/index.php.jade

		main#main.site-main
			.my_container
				article.two_col
					- $data = prepare_post();
					- $data['extra_class'] .= ' fullarticle normalarticle';
					- $thisid = $post->ID;

					include ../../module/block_article/index.php.jade

				- $type = array( 'post');
				- $cat = get_the_category();
				- $cat = $cat[0];
				- $catid = $cat->cat_ID;
				- $args=array('cat' => $catid, 'post_type' => $type,'post_status' => 'publish', 'offset' => $offset);
				- $my_query_grid = new WP_Query($args);
				- $count_posts = $my_query_grid->found_posts;
				- $lgcolsize = 3;
				.two_col.ontopofgrid
					.one_third
						.youwilllike
							|You will like...
					.two_third.my_container
						.articlebottomline
				include ../../module/grid/index.php.jade
		- get_footer();