- /* Template Name: bieres */
//- - get_header();
doctype html
html(<?php language_attributes(); ?>)
	include header.jade
	body(
	class!="<?php echo $stringclass;?>"
	)

		include ../../module/navigation/index.php.jade
		include ../../module/block_filter/index.php.jade

		- $array_general_tax_query = '';
		- $array_get = $_GET;

		- if($_GET):
			- $array_general_tax_query = array();
			- foreach($array_get as $key => $value):
				- if($key!='part'):
					- $array_tax_query = array('taxonomy' => $key, 'field' => 'slug', 'terms' => $value);
					- array_push( $array_general_tax_query , $array_tax_query );
				- endif;
			- endforeach;
		- endif;

		- $features_biere_per_page = 2;
		- $all_biere_per_page = 11;
		- $biere_per_page = $all_biere_per_page - $features_biere_per_page;
		- $part = $_GET['part'] - 1;
		- $part = ($part<0) ? 0 : $part;
		- $offset = 0;
		- if($part>=1):
			- $features_offset = $features_biere_per_page * $part;
			- $offset = $biere_per_page * $part;
		- endif;

		- $type = array( 'post')
		- $args_features=array('orderby'=> 'title', 'order' => 'ASC', 'post_type' => 'bieres','post_status' => 'publish', 'meta_key' => 'extra_info', 'meta_value' => '1', 'posts_per_page' => $features_biere_per_page, 'offset' => $features_offset, 'tax_query' => $array_general_tax_query)
		- $args_normal=array('orderby'=> 'title', 'order' => 'ASC', 'post_type' => 'bieres','post_status' => 'publish', 'meta_key' => 'extra_info', 'meta_value' => '0', 'posts_per_page' => $biere_per_page, 'offset' => $offset, 'tax_query' => $array_general_tax_query)
		- $date = date('Ymd');
		- $args_pub = array('orderby' => 'rand', 'posts_per_page' => 2, 'post_type'=>'publicités', 'meta_key' => 'taille','meta_value' => 'moyen', 'meta_query' => array('relation' => 'AND', array( 'key' => 'date_de_debut_de_campagne', 'compare'	=> '<=', 'value' => $date, ), array( 'key' => 'date_de_fin_de_campagne', 'compare'	=> '>=', 'value' => $date, )));

		- $features_bier = null
		- $features_bier = new WP_Query($args_features)
		- $nbpost_features_show = 0;

		//-setup your queries as you already do
		- $normal = new WP_Query($args_normal)

		- $args_find_total_biere=array( 'post_type' => 'bieres','post_status' => 'publish')
		- $query_find_total_biere = new WP_Query($args_find_total_biere);
		- $nbbier_total =  $query_find_total_biere->found_posts;

		- $date = date('Ymd');

		- $nblinav = ceil($nbbier_total / $all_biere_per_page);

		- $pub = new WP_Query($args_pub)
		//-create new empty query and populate it with the other two
		- $wp_query_the_rest = new WP_Query();
		- $wp_query_the_rest->posts = array_merge( $normal->posts, $pub->posts );
		//-populate post_count count for the loop to work correctly
		- $wp_query_the_rest->post_count = $normal->post_count + $pub->post_count;
		//- shuffle( $wp_query_the_rest->posts );
		//- deplace les pubs :
		- moveElement($wp_query_the_rest->posts, 8, ($features_biere_per_page-1));
		- moveElement($wp_query_the_rest->posts, 9, ($features_biere_per_page+4));

		- $nbbier_features_show = 0;
		main#main.site-main
			.two_col.demi_marg_top
				section.blocks.too_top_left.fullwidth
					.grid.container-fluid
						.row
							- while ($features_bier->have_posts()) : $features_bier->the_post();
								- $data = prepare_post()
								- $classli = 'col-xs-12 col-lg-8';
								- $classli .= ' '.get_all_tax_name();
								.elementgrid(
								class!="<?php echo $classli;?>"
								)
									include ../../module/block_biere/index.php.jade
								- $nbbier_features_show ++;
							- endwhile;
				section.block
					.grid.container-fluid
						.row
							- $index = 0;
							- while ($wp_query_the_rest->have_posts()) : $wp_query_the_rest->the_post();
								- $data = prepare_post()
								- $classli = 'col-md-12 col-sm-6 col-lg-4';
								- if($index < $nbbier_features_show):
									- $classli .= ' col-lg-onset-8';
								- endif;
								- $classli .= ' '.get_all_tax_name();
								- $index ++;
								- $type = get_post_type();
								.elementgrid(
								class!="<?php echo $classli;?>"
								)
									- if($type=='bieres'):
										include ../../module/block_biere/index.php.jade
									- else:
										- $data['extra_class'] = 'medium_add'
										include ../../module/block_ad/index.php.jade
									-endif
							- endwhile;

			section(style='padding-top:30px')
				include ../../module/block_numeric_nav/index.php.jade

		- wp_reset_query();  // Restore global post data stomped by the_post().
		- get_footer();