extends grid-layout
block query
	- /* Template Name: home */
	- $type = array( 'post');
	- $tag = single_tag_title('', false);
	- $args=array('tag' => $tag, 'post_type' => $type,'post_status' => 'publish', 'offset' => $offset);
	- $my_query_grid = null;
	- $my_query_grid = new WP_Query($args);
	- $count_posts = $my_query_grid->found_posts;
	- $lgcolsize = ceil(12 / $count_posts);