.blocks.search
	- if($topsearch):
		- if($opensearch):
			input#showsearch(type='checkbox', name='showsearch', checked)
		- else:
			input#showsearch(type='checkbox', name='showsearch')
		- endif;
	- endif;

	.cont_search
		form.searchform(role='search', method='get', action!="<?php echo 'http://'.$_SERVER['HTTP_HOST'];?>")
			input(id!="<?php echo ($topsearch) ? 's' : 'mobilesearch';?>", type='text', value='',placeholder!="<?php echo ((ICL_LANGUAGE_CODE == 'nl') ? ' Zoeken' : ' Rechercher');?>", name='s')
			input(type='hidden', name='lang', value!='<?php echo ICL_LANGUAGE_CODE;?>')
			button.icon-search(
			type='submit',
			value!="<?php echo ((ICL_LANGUAGE_CODE == 'nl') ? 'Zoeken' : 'Rechercher');?>",
			name='search')

	- if($topsearch):
		label#labelshow.icon-search(for='showsearch')
	- endif;
