.blocks.search
	- if($topsearch):
		- if($opensearch):
			input#showsearch(type='checkbox', name='showsearch', checked)
		- else:
			input#showsearch(type='checkbox', name='showsearch')
		- endif;
	- endif;

	.cont_search
		form.searchform(role='search', method='get', action!="<?php echo 'http://'.$_SERVER['HTTP_HOST'];?>")
			input(id="s", type='text', value='', placeholder="search", name='s')
			button.icon-search(
			type='submit',
			value="search",
			name='search')

	- if($topsearch):
		label#labelshow.icon-search(for='showsearch')
	- endif;
