.icon-search
	display:inline-block
	position: relative
	height:$space-1
	width:$space-1
	&:before
		top:0
		left:0
		position:absolute

.openedsearch
	margin-left ($space-1/2)
	padding-top ($space-1/2)

.blocks.search
	.cont_search
		overflow hidden
		display inline-block
		position relative
		height 30px
		width 100%
		right auto
		left 0
		transition width 1s
		overflow hidden
		@media $bs-screen-xld-min
			width 0
			left auto
			right 0

	input
		transition width 1s
		display inline-block
		width calc( 100% - 70px)
		margin-left $space-1

		@media $bs-screen-xld-min
			width 0px

	#showsearch
		display:inline-block

		@media $bs-screen-xld-min
			&:checked,
			.openedsearch &
				~ #labelshow
					display none
				~ .cont_search
					width 170px
					input
						width 130px
						margin-left 0
						display inline-block
						opacity 1
					button.icon-search
						display inline-block

	button.icon-search:before,
	#labelshow:before
		font-size 30px
		color #fff
		.category-drawing &,
		.category-video &,
		.category-graphic-design &
			color #000

	button.icon-search,
	#labelshow
		position absolute
		right 5px
		top 0px
		&#labelshow
			display none
		@media $bs-screen-xld-min
			top auto
			&#labelshow
				display inline-block


	label
		cursor pointer
		position:relative
		display: inline-block



	button[type=submit]
		background:transparent
		border:0 none
		cursor:pointer
		padding: 0 ($space-1/2)

	@media $bs-screen-xld-min
		#s
			opacity 0

	#s,
	#mobilesearch
		border:0 none
		border-bottom:1px solid #fff
		vertical-align:top
		font-size:18px
		font-family: $ft-family-secondary
		font-style:italic
		background: transparent
		position: relative
		outline none
		padding-bottom 2px
		margin-right 5px

		@media $bs-screen-xld-min
			.category-drawing &,
			.category-video &,
			.category-graphic-design &
				border-bottom:1px solid #000

	#mobilesearch
		color #fff

	@media $bs-screen-xld-min
		button.icon-search
			display:none

			.openedsearch &
				display inline-block
				color $ft-color-secondary
				&:before
					top auto
					bottom 2px
					font-size 24px

	input[type=checkbox]
		opacity: 0

