.blocks.filter
	background $primary-color
	position fixed
	z-index 100
	width 100%
	text-align center
	.my_container
		// width 100%
		display none

	.contselect
		border-radius 3.2em
		display block
		width 100%
		border-radius 3.2em
		border 1px solid #fff
		position relative
		margin 20px 0
		&:before
			position absolute
			right ($space-1/2)
			top 50%
			margin-top -10px
			color #fff

	select
		height 3.2em
		border none
		vertical-align middle
		appearance none
		font-size 1.1em
		cursor pointer
		background transparent
		color #fff
		text-transform uppercase
		padding 0.2em 3.2em 0.2em 3.2em
		width 100%
		&:focus
			outline 0

	label
		position relative
		z-index 1


	select
		&::-ms-expand
			display none

	label#showfilterlabel
		text-transform uppercase
		text-align center
		color #fff
		font-size 1.5em
		width 100%
		display block
		margin ($space-1/2) 0

	input[type=checkbox]
		display none
		&:checked ~ .my_container
			display block

	.my_tab
		padding 0 ($space-1/2)

	@media $bs-screen-ld-min // Large devices (desktops, 62em and up)
		position relative
		label#showfilterlabel,
		input[type=checkbox]
			display none

		.my_container
			display block
			// border-spacing $space-1 ($space-1/3)

		.contselect
			width 21%
			display inline-block
			margin 2%

		&.fixed-filter
			position fixed
			top 0
		    width 100%

		&.fixed-filter
			box-shadow 0px 5px 5px rgba($dark-grey, 0.5)

		.my_tab
			padding 0

	@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
		.my_tab
			margin-left - ($space-1)
			margin-right - ($space-1)