- include 'Mobile_Detect.php';
- global $detect;
-$detect = new Mobile_Detect();
-$defaultimg = ($detect->isMobile() && !$detect->isTablet()) ? 'simple' : 'fr';
-$defaultimg = (!$detect->isMobile() && !$detect->isTablet()) ? 'simple' : $defaultimg;
- if($isIEbool):
	-$defaultimg = 'fr';
- endif;
- $pageinfo = get_page_by_title( 'info' );
- $pageinfoid = $pageinfo->ID;

nav.blocks.navigation
	.header
		h1
			a(href='/')
				include ../../svg/logo_shut.svg

		button.toggle-burger
			span.sr-only Toggle navigation
			span.top
			span.center
			span.bottom

	.nav-group-wrapper
		ul
			- $categories = get_categories()
			- foreach ( (array) $categories as $keycat => $categorie ):
				- $title = $categorie->name;
				- $slug = $categorie->slug;
				- $curentid = $categorie->term_id;
				- $url = get_category_link( $curentid  );
				- $currentpostcat = get_the_category()[0]->name;
				- $current_cat = get_query_var('category_name');
				- $post_match = ($currentpostcat === $title);
				- $cat_match = ($current_cat === strtolower($title));

				- $selected = ( $cat_match ||  $post_match);

				li.line(class!="<?php echo (($selected) ? 'current-menu-item' : '').' '.$slug; ?>")
					a(
					href!="<?php  echo $url ?>",
					class!="<?php echo $slug;?>"
					)
						- echo $title;
			- endforeach;

			//- .right_nav.nav.line
			//- 	ul
			li.contact.line
				a(
					href="/contact",
					class="contact"
					)
						|contact
			li.lisearch
				.search-expand-inner
					- $topsearch = true
					include ../../module/block_search/index.php.jade
			li.social.fb.line
				a.icon-facebook2(href!="<?php echo the_field('facebook', $pageinfoid);?>",target="_blank")
			li.social.twitter.line
				a.icon-tumblr2(href!="<?php echo the_field('tumblr', $pageinfoid);?>",target="_blank")
			li.social.vimeo.line
				a.icon-vimeo2(href!="<?php echo the_field('vimeo', $pageinfoid);?>",target="_blank")


