- include 'Mobile_Detect.php';
- global $detect;
-$detect = new Mobile_Detect();
-$defaultimg = ($detect->isMobile() && !$detect->isTablet()) ? 'simple' : 'fr';
-$defaultimg = (!$detect->isMobile() && !$detect->isTablet()) ? 'simple' : $defaultimg;
- if($isIEbool):
	-$defaultimg = 'fr';
- endif;
h1
	a(href='/')
		picture
			source(
				media='(min-width: 34em)',
				srcset!="<?php echo get_stylesheet_directory_uri().'/images/logo-fr.svg' ;?>",
			)
			img(
				src!="<?php echo get_stylesheet_directory_uri().'/images/logo-'.$defaultimg.'.svg' ;?>",
				alt!="<?php echo (ICL_LANGUAGE_CODE == 'fr') ? 'Bière grand cru' : 'Bier grand cru';?>"
			)

.right_nav
	- wp_nav_menu(  array( 'container'=> false, 'menu' => 'top_menu', 'menu_class' => 'top_menu') );
	ul
		li.lisearch
			.search-expand-inner
				- $topsearch = true
				include ../../module/block_search/index.php.jade
		li.social
			a.icon-twitter(href="https://twitter.com/biergrandcru",target="_blank")
		li.social
			a.icon-facebook(href="https://www.facebook.com/beergrandcru/",target="_blank")
		li.lang
			- if(icl_get_languages()[((ICL_LANGUAGE_CODE === 'fr') ? 'nl' : 'fr')]['url'] != ''):
				- $linkop = icl_get_languages()[((ICL_LANGUAGE_CODE === 'fr') ? 'nl' : 'fr')]['url']
			-else:
				- global $sitepress
				- $linkop = $sitepress->convert_url( site_url(), 'nl' )
			-endif;
			a(href!="<?php echo $linkop ;?>")
				!=(ICL_LANGUAGE_CODE === 'fr') ? 'nl' : 'fr'



nav.blocks.navigation
	.navigation-header
		button.toggle-burger
			span.sr-only Toggle navigation
			span.top
			span.center
			span.bottom
	.nav-group-wrapper
		.search-expand-inner.openedsearch
			- $topsearch = false
			include ../../module/block_search/index.php.jade
		- wp_nav_menu(  array( 'container'=> false, 'menu' => 'main_menu', 'menu_class' => 'main_menu') );
		- wp_nav_menu(  array( 'container'=> false, 'menu' => 'top_menu', 'menu_class' => 'top_menu') );