.header
	h1
		width 75px
		height 75px
		left ($space-1 / 2)
		margin 0
		z-index 1
		background #000
		display none

		// margin ($space-1 / 2)
		// border-radius 0 0 50% 50%

		a,
		svg,
		img
			height 75px
			display block

		.elementlogo
			fill $color-graphic-design
			.category-drawing &,
			.category-video &,
			.category-graphic-design &
				fill #000

	@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
		h1
			left 0
			display inline-block
