.header
	h1
		width widthlogo
		height 60px
		left ($space-1 / 2)
		margin 0
		z-index 1
		vert_align_middle()

		a,
		svg
			height 60px
			display block

		.elementlogo
			fill $color-graphic-design
			.category-drawing &,
			.category-video &,
			.category-graphic-design &
				fill #000

	@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
		h1
			left 0