.admin-bar .mainheader
	top $login-height-sd
	@media $bs-screen-md-min // Medium devices (tablets, 48em and up)
		top $login-height
	@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
		top 0

.mainheader
	position fixed
	top 0
	width 100%
	z-index 999
	background #000
	transition height 1s ease-in
	height navigation-height
	margin-bottom ($space-1 * 2)

	&:before
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height navigation-height
		background #000

		.category-drawing &
			background $color-drawing

		.category-video &
			background $color-video

		.category-graphic-design &
			background $color-graphic-design

	.my_container
		position relative

	.navigation
		display block
		position fixed
		width 100%
		left 0
		.navigation-active &
			height 100vh

		.header
			height navigation-height
			position relative

	.nav-group-wrapper
		display none
		position relative

		ul
			even-blocks(12)
			padding 0
			margin 0
			list-style-type none
			height calc( 100vh - 150px )///// minus header minus search minus admin bar
			top 50px //// top search height
			position relative
			.admin-bar &
				height calc( 100vh - 196px )///// minus header minus search minus admin bar


			li
				position relative

				&.lisearch
					position absolute
					top -50px
					left 0
					height 50px
					width 100%
					.cont_search
						vert_align_middle()

			a
				text-transform uppercase
				vert_align_middle()
				margin 0 $space-1

	.navigation-active &
		height 100vh

		.nav-group-wrapper
			display block

	.toggle-burger
		float right

	@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
		position relative
		.navigation
			height auto
		.navigation-active &
			height navigation-height
		.nav-group-wrapper
			display block
			right 0
			width 75%
			position absolute
			top 70%
			transform translateY(-70%)
			// vert_align_middle()

			ul
				height auto
				top 0
				.admin-bar &
					height auto
			li
				display inline-block
				height auto
				padding 0 $space-1
				&:first-child
					padding-left 0

				a
					position relative
					top auto
					transform none
					margin 0

				&.current-menu-item
					a
						color $ft-color-secondary
						&:hover
							color $ft-color-primary

				&.social,
				&.lisearch
					position absolute
					padding 0
					&.vimeo
						right 0px
					&.twitter
						right 20px
					&.fb
						right 40px
					&.lisearch
						right 80px
						left auto
						top -5px
						width auto
						.cont_search
							position relative
							top auto
							left auto
							transform none

					.category-drawing &,
					.category-video &,
					.category-graphic-design &
						color $ft-color-secondary
						a
							color $ft-color-secondary


		.navigation
			position  absolute
		.nav
			display inline-block



