.admin-bar .mainheader
	top:$login-height-sd
	@media $bs-screen-md-min // Medium devices (tablets, 48em and up)
		top:$login-height
	@media $bs-screen-ld-min // Large devices (desktops, 62em and up)
		top :0



.mainheader
	position:fixed
	top:0
	width:100%
	background:$bg-color-secondary
	z-index:999

	ul
		padding: 0
		margin: 0
		list-style-type:none
		height: 100%
		li a
			text-transform: uppercase
			font-weight: 700

	.nav-group-wrapper
		overflow:hidden
		height:0

		.navigation-active &
			height: auto

	.navigation
		display: inline-block
		margin-left: -30px
		padding-left: 30px

		.navigation-active &
			background:$bg-color-primary

		li
			@media $bs-screen-ld-max
				padding: ($space-1/6) ($space-1/3) ($space-1/6) ($space-1/(3/2))
			&.current-menu-item,
			&:hover
				background:$primary-color
				a
					color: $ft-color-primary

			a
				color: $ft-color-secondary

	///////////// A DROITE
	.right_nav
		float:right
		height:$navigation-height
		top:$space-1
		position: relative

		li
			display: inline-block
			padding: ($space-1/6) ($space-1/3)
			@media $bs-screen-ld-max
				padding: 0 ($space-1/3)

			a:before
				vertical-align: middle

			&:last-child
				background: $bg-color-primary
				a
					color: $ft-color-secondary

		.top_menu,
		.search-expand-inner
			display:none

@media $bs-screen-ld-min // Large devices (desktops, 62em and up)
	.mainheader
		position:relative
		margin: $space-1 auto

		ul li
			display: inline-block
			padding: ($space-1/3) ($space-1/1.5)
			a
				color: $ft-color-primary

		.openedsearch
			display:none

		.navigation
			position: absolute
			bottom: 0
			right: 0
			background: transparent

		.nav-group-wrapper
			height:auto

			.top_menu
				display: none

		.right_nav
			top: 0
			ul,
			.search-expand-inner,
			.top_menu,
			li
				display:inline-block
				vertical-align: top

			.lisearch
				padding: 0

			.top_menu
				margin-right: ($space-1/2)

		.blocks.navigation .main_menu li
			background:$grey
			margin-right: $space-1
			&:last-child
				margin-right:0

			&.current-menu-item,
			&:hover
				background:$primary-color

			a
				color: $ft-color-primary
