header.mainheader(role="banner")
	h1
		a(href='/')
			img(src!="<?php echo get_stylesheet_directory_uri().'/images/logo.png' ;?>")

	.right_nav
		- wp_nav_menu(  array( 'container'=> false, 'menu' => 'top_menu', 'menu_class' => 'top_menu') );
		ul
			li.lisearch
				.search-expand-inner
					include ../../module/block_search/index.php.jade
			li
				a.icon-twitter(href="http://twitter.com",target="_blank")
			li
				a.icon-facebook(href="http://facebook.com",target="_blank")
			li
				a(href!="<?php echo icl_get_languages()[((ICL_LANGUAGE_CODE == 'fr') ? 'nl' : 'fr')]['url'];?>")
					!=icl_get_languages()[((ICL_LANGUAGE_CODE == 'fr') ? 'nl' : 'fr')]['code']

	nav.blocks.navigation
		.navigation-header
			button.toggle-burger
				span.sr-only Toggle navigation
				span.top
				span.center
				span.bottom
		.nav-group-wrapper
			.search-expand-inner.openedsearch
				include ../../module/block_search/index.php.jade
			- wp_nav_menu(  array( 'container'=> false, 'menu' => 'main_menu', 'menu_class' => 'main_menu') );
			- wp_nav_menu(  array( 'container'=> false, 'menu' => 'top_menu', 'menu_class' => 'top_menu') );

	include ../../module/block_categories/index.php.jade


include ../../module/block_categories/index.php.jade