- $index = 1;
- $linkmax = 5;
- $doted = false;

- $array_get = $_GET;
- $var_filter = '';
- if($_GET):
	- $array_general_tax_query = array();
	- foreach($array_get as $key => $value):
		- if($key!='part'):
			- $var_filter .= '&amp;'.$key.'='.$value;
		- endif;
	- endforeach;
- endif;

- if($nblinav>1):
	.numeric_nav
		.my_container
			- if($part):
				a.prev(
				href!='?part=<?php echo $part.$var_filter;?>'
				)
					!= (ICL_LANGUAGE_CODE == 'nl') ? 'Vorige' : 'Précédent';
			- endif;
			nav
				ul
					- while ($index <= $nblinav):
						- if(($index <= $linkmax)):
							include element_nav.php.jade
						- elseif((!$doted) && ($index < $nblinav)):
							li.dots
								|...
							- $doted = true;
						- elseif($index == $nblinav):
							include element_nav.php.jade
						- endif;
						- $index ++;
					- endwhile;
			- if(($part+2)<=$nblinav):
				a.next(
				href!='?part=<?php echo ($part+2).$var_filter;?>'
				)
					!= (ICL_LANGUAGE_CODE == 'nl') ? 'Volgende' : 'Suivant';
			- endif;
- endif;