.numeric_nav,
.next_prev_nav
	text-align center
	font-size 1.5em
	font-weight 700
	font-family $ft-family-primary-cond
	padding-bottom ($space-1 * 2)
	position relative

	.onlylarge
		display none
		@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
			display inline-block

	.dots
		color $dark-grey

	a
		text-transform uppercase
		color $dark-grey
		transition color
		transition-duration 0.4s
		&.prev,
		&[rel~='prev']
			position absolute
			left 0
		&.next,
		&[rel~='next']
			position absolute
			right 0
		&:hover
			color $primary-color
			text-decoration none

	ul
		list-style none
		padding 0
		margin 0
		li
			padding 0 ($space-1 / 3)

	*
		display inline-block

