.ontopofgrid
	.youwilllike
		border-bottom 5px solid #000
		text-transform uppercase
		color $ft-color-secondary
		font-weight 700

	@media $bs-screen-xld-min // Large devices (desktops, 62em and up)
		.two_third
			padding-bottom 0
			padding-top 26px
		.articlebottomline
			height 1px
			background $ft-color-tertiary
