extends layout
block stylesheet
	link(rel='stylesheet', href='css/admin.css')
block additionalscript
	script(src='//tinymce.cachefly.net/4.2/tinymce.min.js')
block loginbar
	.loginbar
		button#savepage save
block backgroundimage
	.fullbg(style='background-image: url(/images/cover-emty.jpg)')
block handle
	.handle.icon-moveit
block btnadmin
	.editmodule
		.btn blablblblblb
block pagescript
	script(src='js/vendor/jquery.sortable.min.js')
	script(src='js/admin.js')