doctype html
html.no-js
	include ./includes/head.jade
	block additionalscript
	body(data-pagejson!="<?php echo $selectedpageurl.$lang; ?>")
		block backgroundimage
		block loginbar
		block listimgserver
		include ./includes/nav.jade
		section#main
			- foreach ($pagejson as $keymodule => $module):
				div(class!="<?php echo d('classes',$module); ?>", id!="<?php echo $keymodule; ?>" )
					block btnadmintop
					block handle
					block addslide
					.warper
						.content
							!=d('content',$module)
					block bin
					block btnadminbottom
			- endforeach
		block samples
		include ./includes/footer.jade