doctype html
html.no-js
	include ./includes/head.jade
	block additionalscript
	body(data-pagejson!="<?php echo $pagetoload.$lang; ?>")
		block backgroundimage
		block loginbar
		block listimgserver
		include ./includes/nav.jade
		section#main
			block btnadmintop
			- foreach ($pagejson as $keymodule => $module):
				div(class!="<?php echo d('classes',$module); ?>", id!="<?php echo $keymodule; ?>" )
					block handle
					- if(strpos(d('classes',$module),'img') !== false):
					- $infullscreen = (strpos(d('classes',$module),'fullscreen') !== false);
					block addslide
					- endif;
					.warper
						.content
							!=d('content',$module)
					block bin
					block btnadminbottom
			- endforeach
		block samples
		include ./includes/footer.jade