doctype html
html.no-js
	include ./includes/head.jade
	block additionalscript
	body(data-pagejson!="<?php echo $pagetoload.$lang; ?>")
		block backgroundimage
		block loginbar
		block listimgserver
		include ./includes/nav.jade
		section#main
			block btnadmintop
			- foreach ($pagejson as $keymodule => $module):
				div(class!="<?php echo d('classes',$module); ?>", id!="<?php echo $keymodule; ?>" )
					block handle
					- $itsimgtype = (strpos(d('classes',$module),'img') !== false)
					- if($itsimgtype):
					- $infullscreen = (strpos(d('classes',$module),'fullscreen') !== false);
					block addslide
					- endif;
					.warper
						.content
							- if($itsimgtype):
							//- != $itsimgtype.' ??? $itsimgtype'
							include ../module/slider_fullscreen/index.php.jade
							- else:
							!=d('content',$module)
							- endif;
					block bin
					block btnadminbottom
			- endforeach
		block samples
		include ./includes/footer.jade