.frontpage
	.two_third
		li
			list-style: none

	.container-fluid
		margin-top:0
	    margin-right:$space-1

.blocks
	.title_event_and_fb
		text-transform:uppercase
		text-align:center
		width:100%
		background:$primary-color
		margin: 0
		padding: 0
		font-size: 2em
		font-family: $ft-family-primary-cond
		span
			&:before,
			&:after
				content:' - '