@require 'first/variable'
@import 'base/normalize'
@import 'base/base'
@import 'generated/*'
@import 'module/*'
@import 'admin/*'
@import '../../module/**/*.styl'

body.admin #main
	padding-top:$navigation-height*2