ul.social
	- while ( have_rows('social_link', $pageinfoid) ) : the_row();
		li
			- $platform = get_sub_field('platform', $pageinfoid);
			- $url = get_sub_field('url', $pageinfoid);
			a(
			href!="<?php  echo $url; ?>",
			target='_blank',
			class!="<?php  echo  'icon-'.$platform; ?>",
			)
				span
					!= $platform;
	- endwhile;