select.type
	option(value!='txt')=d('typetxt',$dico)
	option(value!='img')=d('typeimg',$dico)
	//- option(val!='prod')=d('typeprod',$dico)

//- select.classname(multiple='')
//- 	option(val!='news', selected='')=d('classnews',$dico)
//- 	option(val!='produit')=d('classproduit',$dico)
//- 	option(val!='balon')=d('classbalon',$dico)

button.grey.btnadd=d('add',$dico)
//- button.blue.icon-cloud
