.addblocks
	width:100%
	background: $bg-admin-color-primary

	button, select
		display:inline-block

	.icon-cloud
		padding:0 20px
		margin:0
		&:before
			font-size:40px

#main
	.blocks
		.addblocks:last-child
			display:none

	.blocks:last-child
		.addblocks:last-child
			display:block


