button
	border-radius: 5px
	color: #ffffff
	padding: 5px 20px 5px 20px
	text-decoration: none
	border:none

	&.green
		background: $br-validate-primary

		&:hover
			background: $br-validate-secondary

	&.grey
		background: #626262

		&:hover
			background: #312E2E

	&.blue
		background: #0758BE

		&:hover
			background: #033F89


#savepage
	opacity: 0

	.savable &
		opacity: 1