button
	border-radius: 5px
	color: #ffffff
	background: $br-validate-primary
	padding: 5px 20px 5px 20px
	text-decoration: none
	border:none

	&:hover
		background: $br-validate-secondary


.loginbar
	background: $bg-color-secondary-dark
	text-align: center
	padding:10px 0