// header.mainheader
// 	h1
// 		display:none
// 		float: left
// 		padding: 0
// 		margin:0

// 	li
// 		list-style-type:none
// 		display: inline-block

// 		a
// 			text-transform: uppercase

// 	.top
// 		text-align: right

// 	.top,
// 	.med
// 		position: relative

// 	.cont_social,
// 	.cont_lang,
// 	.cont_menu_top,
// 	.search-expand-inner
// 		float :right
// 		ul
// 			padding:0
// 			margin:0

// 			li
// 				display: inline-block
// 				padding: 0 ($space-1/2)
// 				&:before
// 					content:none

// 				a,
// 				a:visited
// 					font-size:18px
// 					// font-weight:700
// 					// line-height: 13px
// 					color: $ft-color-primary
// 					font-family: $ft-family-secondary
// 					padding: 0
// 					background: transparent
// 					&:after
// 						line-height: 18px

// 	.cont_social ul li
// 		padding:0 ($space-1/4)
// 		a
// 			&[class^="icon-"], &[class*=" icon-"]
// 				font-size:25px

// 	.cont_lang
// 		padding-left:($space-1/4)

// 	.cont_menu_top
// 		padding-right:($space-1)

// 	.cont_lang,
// 	.cont_menu_top,
// 	.search-expand-inner
// 		ul
// 			li
// 				&:last-child
// 					background:$bg-color-primary
// 					a,
// 					a:visited
// 						color : $ft-color-secondary



// 	@media $bs-screen-md-min
// 		padding: $space-1 0 ($space-1 * 2) 0
// 		height: 123px
// 		.top,
// 		.med
// 			height: 50%
// 			z-index:0
// 		h1
// 			display : inline-block
// 			position: absolute
// 			z-index:2
// 			a
// 				display: block

